@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x9j4ov');
  src:  url('../fonts/icomoon.eot?x9j4ov#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x9j4ov') format('truetype'),
    url('../fonts/icomoon.woff?x9j4ov') format('woff'),
    url('../fonts/icomoon.svg?x9j4ov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ht-icon-"], [class*=" ht-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ht-icon-stock:before {
  content: "\e94a";
}
.ht-icon-home:before {
  content: "\e948";
}
.ht-icon-gear:before {
  content: "\e949";
}
.ht-icon-shelves:before {
  content: "\e946";
}
.ht-icon-shelves-off:before {
  content: "\e947";
}
.ht-icon-task:before {
  content: "\e945";
}
.ht-icon-arrow-down:before {
  content: "\e900";
}
.ht-icon-arrow-up:before {
  content: "\e901";
}
.ht-icon-bag:before {
  content: "\e902";
}
.ht-icon-balloon:before {
  content: "\e903";
}
.ht-icon-box:before {
  content: "\e904";
}
.ht-icon-cake:before {
  content: "\e905";
}
.ht-icon-calendar:before {
  content: "\e906";
}
.ht-icon-cancel:before {
  content: "\e907";
}
.ht-icon-candle:before {
  content: "\e908";
}
.ht-icon-cartplus:before {
  content: "\e909";
}
.ht-icon-check-normal:before {
  content: "\e90a";
}
.ht-icon-check-select:before {
  content: "\e90b";
}
.ht-icon-circle:before {
  content: "\e90c";
}
.ht-icon-close:before {
  content: "\e90d";
}
.ht-icon-coffee:before {
  content: "\e90e";
}
.ht-icon-coin:before {
  content: "\e90f";
}
.ht-icon-coins:before {
  content: "\e910";
}
.ht-icon-coupon:before {
  content: "\e911";
}
.ht-icon-create:before {
  content: "\e912";
}
.ht-icon-crowd:before {
  content: "\e913";
}
.ht-icon-crown:before {
  content: "\e914";
}
.ht-icon-decorate:before {
  content: "\e915";
}
.ht-icon-discount:before {
  content: "\e916";
}
.ht-icon-dot:before {
  content: "\e917";
}
.ht-icon-down:before {
  content: "\e918";
}
.ht-icon-export:before {
  content: "\e919";
}
.ht-icon-fast:before {
  content: "\e91a";
}
.ht-icon-file:before {
  content: "\e91b";
}
.ht-icon-forbid:before {
  content: "\e91c";
}
.ht-icon-heart:before {
  content: "\e91d";
}
.ht-icon-horn:before {
  content: "\e91e";
}
.ht-icon-import:before {
  content: "\e91f";
}
.ht-icon-indent:before {
  content: "\e920";
}
.ht-icon-integral:before {
  content: "\e921";
}
.ht-icon-issue-not:before {
  content: "\e922";
}
.ht-icon-issue:before {
  content: "\e923";
}
.ht-icon-leaf:before {
  content: "\e924";
}
.ht-icon-left:before {
  content: "\e925";
}
.ht-icon-lightning:before {
  content: "\e926";
}
.ht-icon-man:before {
  content: "\e927";
}
.ht-icon-management:before {
  content: "\e928";
}
.ht-icon-member:before {
  content: "\e929";
}
.ht-icon-memorial:before {
  content: "\e92a";
}
.ht-icon-message:before {
  content: "\e92b";
}
.ht-icon-modify:before {
  content: "\e92c";
}
.ht-icon-operator:before {
  content: "\e92d";
}
.ht-icon-plus:before {
  content: "\e92e";
}
.ht-icon-popcorn:before {
  content: "\e92f";
}
.ht-icon-preferential:before {
  content: "\e930";
}
.ht-icon-present:before {
  content: "\e931";
}
.ht-icon-purse:before {
  content: "\e932";
}
.ht-icon-right:before {
  content: "\e933";
}
.ht-icon-search:before {
  content: "\e934";
}
.ht-icon-setting:before {
  content: "\e935";
}
.ht-icon-shop:before {
  content: "\e936";
}
.ht-icon-show:before {
  content: "\e937";
}
.ht-icon-souvenir:before {
  content: "\e938";
}
.ht-icon-success:before {
  content: "\e939";
}
.ht-icon-tableware:before {
  content: "\e93a";
}
.ht-icon-tag:before {
  content: "\e93b";
}
.ht-icon-tips:before {
  content: "\e93c";
}
.ht-icon-trash:before {
  content: "\e93d";
}
.ht-icon-trucks:before {
  content: "\e93e";
}
.ht-icon-up:before {
  content: "\e93f";
}
.ht-icon-wallet:before {
  content: "\e940";
}
.ht-icon-warning:before {
  content: "\e941";
}
.ht-icon-wechat:before {
  content: "\e942";
}
.ht-icon-yes-hollow:before {
  content: "\e943";
}
.ht-icon-yes:before {
  content: "\e944";
}
