#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 180px;
    position: relative;
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 180px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    // overflow: hidden;
    background-color: $sidebar-menu-background-color !important;

    .title {
      height: 150px;
      color: #fdfdfd;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #1E2432;
      .brand {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          width: 70px;
          height: 70px;
          border-radius: 35px;
          overflow: hidden;
          background-color: #ffffff;
        }
        .name {
          font-size: 13px;
          color: #CED4D5;
          letter-spacing: 0;
          text-align: center;
          padding-top: 10px;
        }
      }
    }

    .el-scrollbar {
      height: calc(100vh - 150px);
      bottom: 0;
      left: 0;
    }

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: $sidebar-menu-background-color !important;

      .el-menu-item,
      .el-submenu__title {
        color: #AFB4B4;
      }

      .el-submenu {
        &.is-opened {
          .el-submenu__title i {
            color: #ffffff;
          }
        }

        &.is-active {
          .el-menu-item, .el-submenu__title, .el-submenu__title i{
            color: #ffffff;
          }
        }
      }

      .el-submenu__title i {
        color: #AFB4B4;
      }
    }

    .el-menu-item.is-active:after {
      content: '♦';
      font-size: 30px;
      color:#f1f3f4;
      line-height: 50px;
      transform:rotate(90deg);
      position: absolute;
      right: -13px;
    }
  }
  .is-sidebar-hide {
    .sidebar-container {
      width: 36px !important;
      .title {
        display: none;
      }
    }
    .main-container {
      margin-left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          color: #AFB4B4;
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }

  .sidebar-container .el-menu-item {
    &.is-active, &:hover{
      background-color: $menuHover !important;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }

  //适配移动端
  .is-mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 180px !important;
    }
    &.is-sidebar-hide {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--popup {
  padding: 0px;
  background-color: $sidebar-menu-background-color !important;
  .svg-icon {
    margin-right: 16px;
  }
  .el-menu-item {
    min-width: 180px !important;
    color: #fdfdfd !important;
    background-color: $subMenuBg !important;
    &.is-active, &:hover {
      background-color: $menuHover !important;
    }
  }
}
