@charset "UTF-8";
// 全局样式设置
// `<body>` 背景颜色
$body-bg: #eee;

//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// aimeizhuyi screen
$screen-am:                  750px !default;
$screen-am-mw:               750;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-am:                  $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1000px !default;
$screen-lg-desktop:          $screen-lg !default;

$color-blue: #0D90EE;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;

/* Cell Component */
$cell-value-color: #888;

$field-placeholder-color: #b2bac9;

// Header Component
$header-height: 70px;

// Footer Component
$footer-height: 100px;

// Button Component
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #0072C6;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

// Tab Item Component
$tab-item-font-size: 12px;

// Tabbar Component
$tabbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $color-blue;

// Navbar Component
$navbar-background-color: #0072C6;
$tabbar-tab-item-selected-background-color: #eaeaea;

// Tagsview
$tags-view-background-color: #fff;
$tags-view-item-background-color: #fff;
$tags-view-item-active-background-color: seagreen;

// Sidebar Menu
$sidebar-menu-background-color:  #2c3243;

// Checklist Component
$checklist-title-color: #888;

// Radio Component
$radio-title-color: #888;

// z-index
$z-index-normal: 1;

//sidebar
$menuBg:#0D90EE;
$subMenuBg:#2c3243;
$menuHover:#333A4C;
$mainColor: #0072C6;